<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Search For Note</title>
</head>
<body>
    <div class="row">
        <h4 class="indigo-text center">Please enter search</h4>

        <form action="/profile" method="post" class="col s12" th:object="${profileForm}">
            <div class="row center">
                <input id="name" name="name" type="text" th:field="${profileForm.name}"/>
                <label for="name">Your Name</label>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="birthDate" name="birthDate" type="text" th:field="${profileForm.birthDate}"/>
                    <label for="birthDate">My Birthday</label>
                </div>

            </div>

            <div class="row s12">
                <button class="btn" type="submit" name="save">Submit</button>
            </div>
        </form>

    </div>
</body>
</html>